<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoiceMemoVIPER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2999D71C8E7E0B005661AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2999EB1C8E7E0C005661AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2999F61C8E7E0C005661AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
